{% extends 'home_page.html' %}
{% load static %}
<html lang="en">

<body>
    {% block contenido %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
           <div class="container">
                <center>
    		<div class="alert alert-{{color}}" role="alert">
  <h4 class="alert-heading">{{mensaje}}</h4>
  <hr>
  <p class="mb-0">{{mensaje_adicional}}</p>
</div>
	<a href="{%url 'home_page'  %}"><button class="btn btn-outline-{{color}}" type="button">Regresar</button></a>
    	</center>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    {% endblock %}
</body>

</html>